# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
r-type_client
r-type_server

# VScode
.vscode

# Clion
.idea
cmake-build-default

# CMake
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
Makefile
_deps
compile_commands.json
.cache
build/*
CMakeUserPresets.json

# Conan
conan.lock
conanbuildinfo.txt 
conaninfo.txt
graph_info.json

samurai_ecs
samurai_server
samurai_client
test.sh
Samurai-*
